<div class="left-column">
  <h2>Customer Phone Number:</h2>
  <input type="text" placeholder="Enter phone number">
  <br>
  <button>Fetch Customer</button>
  
  <h2>Product ID:</h2>
  <input type="text" placeholder="Enter product ID">
  <br>
  <button>Add Item</button>
  <button>Start Scan</button>
  
  <h2>Discount Reason:</h2>
  <select>
    <option value="">Select a reason</option>
    <option value="first_responders">First Responders</option>
    <option value="customer_loyalty">Customer Loyalty</option>
    <option value="family">Family</option>
    <option value="owners">Owners</option>
    <option value="employee">Employee</option>
    <option value="damaged_goods">Damaged Goods</option>
    <option value="redline">Redline</option>
    <option value="veterans">Veterans</option>
  </select>
  <br>
  <h2>Discount Amount:</h2>
  <input type="text" placeholder="Enter Discount Amount">
  <br>
  <button>+Discount</button>
  <button>-Discount</button>
</div>
