.left-column {
    color: #1c2467; /* White text color */
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in width calculation */
    font-family: 'Trebuchet MS'
  }
  
  
  .left-column h2 {
    margin-top: 10px;
    font-weight: bold;
    font-size:30px;
  }
  
  .left-column input[type="text"],
  .left-column select {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid#9a840be0;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .left-column button {
    padding: 8px 16px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid#9a840be0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1c2467; /* Dark blue color */
    color: #9a840be0;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 15px;
  }
  
  .left-column button:hover {
    background-color: #18258e; /* Darker blue color on hover */
  }
  
  .left-column input[type="text"]::placeholder {
    color: #ccc; /* Light gray placeholder text */
  }