<div class="column">
    <h2>Product Name:</h2>
    <input type="text">
    <h2>Category: </h2>
    <select>
        <option value=" ">Select a Category</option>
        <option value="Activewear">Activewear</option>
        <option value="athletic shorts">Athletic Shorts</option>
        <option value="backpacks">Backpacks</option>
        <option value="bag straps & charms">Bag Straps & Charms</option>
        <option value="belts">Belts</option>
        <option value="blazers">Blazers</option>
        <option value="boots">Boots</option>
        <option value="bracelets">Bracelets</option>
        <option value="bras">Bras</option>
        <option value="caps">Caps</option>
        <option value="cardigans">Cardigans</option>
        <option value="clutches">Clutches</option>
        <option value="coats">Coats</option>
        <option value="cosplay outfits">Cosplay Outfits</option>
        <option value="costumes">Costumes</option>
        <option value="dancewear">Dancewear</option>
        <option value="denim jackets">Denim Jackets</option>
        <option value="dresses">Dresses</option>
        <option value="earrings">Earrings</option>
        <option value="evening gowns">Evening Gowns</option>
        <option value="flats">Flats</option>
        <option value="flip-flops">Flip-Flops</option>
        <option value="formal shirts">Formal Shirts</option>
        <option value="formalwear">Formalwear</option>
        <option value="gloves & mittens">Gloves & Mittens</option>
        <option value="hair accessories">Hair Accessories</option>
        <option value="handbags">Handbags</option>
        <option value="hats">Hats</option>
        <option value="heels">Heels</option>
        <option value="hoodies">Hoodies</option>
        <option value="jackets">Jackets</option>
        <option value="jeans">Jeans</option>
        <option value="jewelry">Jewelry</option>
        <option value="jumpsuits">Jumpsuits</option>
        <option value="keychains">Keychains</option>
        <option value="kimonos">Kimonos</option>
        <option value="leather jackets">Leather Jackets</option>
        <option value="leggings">Leggings</option>
        <option value="leotards & tights">Leotards & Tights</option>
        <option value="lingerie">Lingerie</option>
        <option value="luggage">Luggage</option>
        <option value="maternity wear">Maternity Wear</option>
        <option value="necklaces">Necklaces</option>
        <option value="panties">Panties</option>
        <option value="pants">Pants</option>
        <option value="parkas">Parkas</option>
        <option value="performance wear">Performance Wear</option>
        <option value="raincoats">Raincoats</option>
        <option value="rings">Rings</option>
        <option value="robes">Robes</option>
        <option value="rompers">Rompers</option>
        <option value="sandals">Sandals</option>
        <option value="sarees">Sarees</option>
        <option value="scarves">Scarves</option>
        <option value="school uniforms">School Uniforms</option>
        <option value="shawls">Shawls</option>
        <option value="shorts">Shorts</option>
        <option value="skirts">Skirts</option>
        <option value="sleepwear">Sleepwear</option>
        <option value="slippers">Slippers</option>
        <option value="sneakers">Sneakers</option>
        <option value="sports bras">Sports Bras</option>
        <option value="sports leggings">Sports Leggings</option>
        <option value="sports uniforms">Sports Uniforms</option>
        <option value="sportswear">Sportswear</option>
        <option value="spring jackets">Spring Jackets</option>
        <option value="stilettos">Stilettos</option>
        <option value="suits">Suits</option>
        <option value="sunglasses">Sunglasses</option>
        <option value="sweaters">Sweaters</option>
        <option value="swimwear">Swimwear</option>
        <option value="t-shirts">T-Shirts</option>
        <option value="tie clips">Tie Clips</option>
        <option value="ties & bow ties">Ties & Bow Ties</option>
        <option value="tote bags">Tote Bags</option>
        <option value="tracksuits">Tracksuits</option>
        <option value="traditional clothing">Traditional Clothing</option>
        <option value="trench coats">Trench Coats</option>
        <option value="umbrellas">Umbrellas</option>
        <option value="uniforms">Uniforms</option>
        <option value="wallets">Wallets</option>
        <option value="watches">Watches</option>
        <option value="windbreakers">Windbreakers</option>
        <option value="winter jackets">Winter Jackets</option>
        <option value="work uniform">Work Uniform</option>
        <option value="workout clothes">Workout Clothes</option>
        <option value="other">Other</option>
    </select>
    <h2>Description: </h2>
    <input type="text">
    <h2>Material: </h2>
    <input type="text">
    <h2>Size: </h2>
    <input type="text">
    <h2>Color: </h2>
    <input type="text">

</div>
