<div class="logo">
  <img src="assets/Logo.png">
</div>
<header>
  <nav>
    <ul>
      <li><a routerLink="/sales">Sales</a></li>
      <li><a routerLink="/viewinventory">View Inventory</a></li>
      <li><a routerLink="/viewcustomers">View Customers</a></li>
      <li><a routerLink="/addproduct">Add Product</a></li>
      <li><a routerLink="/addcustomer">Add Customer</a></li>
      <li><a routerLink="/transactionhistory">Transaction History</a></li>
      <li><a routerLink="/reports">Reports</a></li>
      <button>Log-Out</button>
    </ul>
  </nav>
</header>
